<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
    </head>

    <body>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
        <header>
            <h1 style="text-align: center;">Welcome to the Bug Tracker</h1>
        </header>
        <div class="topnav">
            <a id="newticket" href="/newticket/">Add a New Ticket</a>
            <a id="logout" href="/logout/">Log Out</a>
            {% if user.is_staff %}<a id="signup" href="/signup/">Create an account</a>{% endif %}
        </div>
        <br>
        <div id="column1">
            <h2 style="text-align: center;">New Tickets</h2>
            {% for x in data %}
            <ul>
                <li>Title: <a href="/ticket_detail/{{x.id}}">{{x.title}}</a></li>
                <li>Description: {{x.description}}</li>
                <li>Created by: {{ x.user_name }}</li>
                <li>Ticket Status: {{x.ticket_status}}</li>
            </ul>
            <br>
            {% endfor %}
        </div>

        <div id="column2">
            <h2 style="text-align: center;"> In Progress Tickets</h2>
            {% for progress in in_progress %}
            <ul>
                <li>Title: <a href="/ticket_detail/{{progress.id}}">{{progress.title}}</a></li>
                <li>Description: {{progress.description}}</li>
                <li>Created by: {{ progress.user_name }}</li>
                <li>Ticket Status: {{progress.ticket_status}}</li>
            </ul>
            <br>
            {% endfor %}
        </div>

        <div id="column3">
            <h2 style="text-align: center;">Completed Tickets</h2>
            {% for d in done %}
            <ul>
                <li>Title: <a href="/ticket_detail/{{d.id}}">{{d.title}}</a></li>
                <li>Description: {{d.description}}</li>
                <li>Created by: {{ d.user_name }}</li>
                <li>Ticket Status: {{d.ticket_status}}</li>
            </ul>
            <br>
            {% endfor %}
        </div>

        <div id="column4">
            <h2 style="text-align: center;">Invalid Tickets</h2>
            {% for i in invalid %}
            <ul>
                <li>Title: <a href="/ticket_detail/{{i.id}}">{{i.title}}</a></li>
                <li>Description: {{i.description}}</li>
                <li>Created by: {{ i.user_name }}</li>
                <li>Ticket Status: {{i.ticket_status}}</li>
            </ul>
            <br>
            {% endfor %}
        </div>
    </body>

</html>